@font-face {
    font-family: "NorseBold";
    src: url(/font/Norse-Bold.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    box-sizing: border-box;
    --neutral-background-color: rgb(233, 233, 233, 0.4);
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    display: flex;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.left-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.logo-banner {
    display: flex;
    position: absolute;
    top: calc(35vh - 200px);
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
}

h1{
    font-family: "NorseBold", "Times New Roman", sans-serif;
    color: white;
    align-self: center;
    font-size: 140px;
}

.citation {
    position: absolute;
    color: white;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.citation a {
    color: white;
}

#odin-logo {
    width: 130px;
    height: auto;
    align-self: center;
}

#background-img {
    height: 100vh;
    width: auto;
}

.right-top {
    height: 35vh;
    background-color: var(--neutral-background-color);
}   

.right-content {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-right: 500px;
    padding-bottom: 50px;
    height: 80%;
    justify-content: end;
    font-size: 18px;
}

form {
    height: 30vh;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 7px rgb(160, 160, 160);
}
form > * {
    height: 25px;
}

.form-header {
    margin-left: 50px;
}

.sub-form {
    display: flex;
    height: 250px;
}

.input-label {
    margin-left: 50px;
}

input {
    border-radius: 5px;
    border-width: 1px;
    height: 27px;
    border-color: rgb(224, 224, 224);
    border-style: solid;
    width: 250px;
}

label {
    display: block;
}

.right-bottom {
    height: 35vh;
    background-color: var(--neutral-background-color);
    
}

.bottom-content {
    margin-left: 50px;
    margin-top: 30px;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #596D48;
    border-style: none;
    font-size: 18px;
    color: rgb(235, 235, 235);
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #4b5d3c;
}

.bottom-content > p {
    font-size: 18px;

}
.bottom-content > p > a {
    color: #596D48;
    text-decoration: none;
}
.bottom-content > p > a:active {
    color: #293321;
}

input:focus {
    outline: none;
    border-color: black;
}

.last-name:focus {
    outline: none;
    border-color: blue;
    box-shadow: 2px 3px 10px rgb(218, 218, 218);
}

.password {
    outline: none;
    border-color: red;
}

.error-text {
    margin-top: 0px;
    font-size: 13px;
    color: red;
}