:root {
    box-sizing: border-box;
    --neutral-background-color: rgb(233, 233, 233, 0.4);
}

body{
    display: flex;
}

.right-container {
    display: flex;
    flex-direction: column;
    margin: -10px -10px auto 10px;
    width: 70vw;
}

.left-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin: -10px;
}

.logo-banner {
    position: absolute;
    top: 18.8%;
    width: 30vw;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.citation {
    position: absolute;
    bottom: 5px;
    color: white;
    left: 25%;
}

.citation a {
    color: white;
}

#background-img {
    height: 100vh;
    width: 30vw;
}

.right-top {
    height: 35vh;
    align-items: center;
    background-color: var(--neutral-background-color);
}

form {
    height: 30vh;
}

.right-bottom {
    height: 35vh;
    background-color: var(--neutral-background-color);
}